/*-----------------variables-----------------*/
:root {
  --amarillo: #ffff35d2;
  --negro: black;
  --azul: #2891dc;
  --blanco: #fff;
  --amarilloreservar: #f6f629;
  --tamañofuente: 6em;
  --rojo: red;
  --verde: green;
  --verdesombra: #25fa25;
  --grisCalendario: #f2f6f5;
  --grisOscuroCalendario: #9faab7;
  --circuloCalendario: #f6f629;
  --fontsecundaria: "Montserrat", sans-serif;
  --font: "Amatic SC", cursive;
  --tamañofuentesecundaria: 3em;
}
/*---------------estilos genericos-----------------*/
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*--------------navegacion-------------*/
.menu {
  background-color: var(--blanco);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--negro);
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

.menu_enlace {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: var(--negro);
  font-size: 2em;
}
.hamburguesa {
  display: none;
}
.marcador {
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--negro);
  bottom: 10px;
  left: 0;
  transition: 0.5s;
  border-radius: 4px;
}
.cerrar {
  display: none;
}
/*--------------cabecera-------------*/
.titulo {
  margin-left: 3%;
  font-family: var(--font);
  font-size: var(--tamañofuente);
  color: var(--amarillo);
}

.Video_index {
  border-radius: 30px;
  width: 30%;
  margin-left: 10%;
  box-shadow: 3px 3px 10px 0px var(--negro);
}

.main_index {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
/*-----------------------somos------------------*/
.somos {
  background-color: var(--blanco);
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo_somos {
  grid-row: 1;
  grid-column: 1;
  margin-left: 3%;
  font-family: var(--font);
  font-size: var(--tamañofuente);
  color: var(--amarillo);
  margin-bottom: 30px;
}

.p_somos {
  grid-row: 2;
  grid-column: 1 / span 2;
  font-size: 1.8em;
  text-align: center;
}
/*---------------------alquiler----------------*/
.article_alquiler {
  display: grid;
  grid-template-columns: 40% 60%;

  width: 100%;
  margin-top: 30px;
  background: rgba(240, 242, 237, 1);
  background: -moz-linear-gradient(
    left,
    rgba(240, 242, 237, 1) 0%,
    rgba(240, 242, 237, 1) 32%,
    rgba(207, 229, 227, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(240, 242, 237, 1)),
    color-stop(32%, rgba(240, 242, 237, 1)),
    color-stop(100%, rgba(207, 229, 227, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(240, 242, 237, 1) 0%,
    rgba(240, 242, 237, 1) 32%,
    rgba(207, 229, 227, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(240, 242, 237, 1) 0%,
    rgba(240, 242, 237, 1) 32%,
    rgba(207, 229, 227, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(240, 242, 237, 1) 0%,
    rgba(240, 242, 237, 1) 32%,
    rgba(207, 229, 227, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(240, 242, 237, 1) 0%,
    rgba(240, 242, 237, 1) 32%,
    rgba(207, 229, 227, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f2ed', endColorstr='#cfe5e3', GradientType=1);
}
/*
.expandido {
  height: 1200px;
  -webkit-transition: height 300ms linear;
  -ms-transition: height 300ms linear;
  transition: height 300ms linear;
}*/

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1500ms, visibility 1500ms;
  transition: opacity 1500ms, visibility 1500ms;
}
.oculto {
  opacity: 0;
  visibility: hidden;
}
.imagen_alquiler {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.div_titulo_alquiler {
  grid-row: 1;
  grid-column: 2;
}

.titulo_alquiler {
  width: 80%;
  display: flex;
  text-align: center;
  margin-bottom: 55px;
  padding-left: 4%;
  background-color: var(--blanco);
  font-family: var(--font);
  font-size: var(--tamañofuente);
  color: var(--amarilloreservar);

  border-radius: 0 50px 50px 0;
}

.div_btn_alquiler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_alquiler,
.btn_reservar {
  width: 250px;
  padding: 4px;
  border-radius: 16px;
  background-color: var(--negro);
  font-size: 4em;
  font-family: var(--font);
  color: var(--amarilloreservar);
  cursor: pointer;
  box-shadow: 2px 2px 6px 10px var(--blanco);
  border: 0px solid transparent;
  margin-bottom: 25px;
}
.btn_alquiler {
  margin-top: 0;
}

.btn_alquiler:active {
  box-shadow: inset 1px 2px 9px -1px var(--blanco);
}
/*-----------------------extension-------------*/

.div_extension {
  width: 100%;
  grid-row: 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 65px;
}
.ocultoextension {
  height: 0px;
  padding-top: 0px;
}
.div_calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 404px;
  margin-right: 30px;
  margin-left: 30px;
}
.no_div_calendario {
  width: 0px;
}
.Alquilar_h3 {
  font-family: var(--font);
  font-size: var(--tamañofuentesecundaria);
  color: var(--amarilloreservar);
}

.furgoneta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 296px;
  margin-bottom: 40px;
}
.no_furgoneta {
  width: 0px;
}
.foto_camper {
  box-shadow: 0px 0px 6px 1px var(--negro);
  border-radius: 5px;
  height: 124px;
  padding: 5px;
  margin-bottom: 28px;
}
.div_btn_comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 27px;
}
/*------------------contacto ---------------*/
.titulo_contacto {
  display: flex;
  text-align: center;
  padding-left: 4%;
  background-color: var(--blanco);
  font-family: var(--font);
  font-size: var(--tamañofuente);
  color: var(--amarilloreservar);

  border-radius: 0 50px 50px 0;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre,
.email {
  margin-bottom: 30px;
  padding: 3px 15px;
  font-size: 1.6em;
}

.comentario {
  margin-bottom: 30px;
  padding: 3px 15px;
  width: 500px;
  height: 200px;
  font-size: 2.3em;
}

.btn_enviar {
  background-color: var(--blanco);
  border: none;
  box-shadow: 1px 1px 6px 0px var(--negro);
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1.6em;
  cursor: pointer;
}

.btn_enviar:active {
  box-shadow: inset 1px 1px 6px 0px var(--negro);
}
.err {
  list-style: none;
  color: var(--rojo);
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.li_err {
  margin-top: 10px;
}
.novalido {
  border: 3px solid var(--rojo);
  box-shadow: 0 0 12px var(--rojo);
}

.valido {
  border: 3px solid var(--verde);
  box-shadow: 0 0 12px var(--verdesombra);
}
/*-----------------------pie----------------*/
.pie {
  background-color: var(--negro);
  height: 150px;
  width: 100%;
}

.div_parafos {
  display: flex;
  justify-content: space-between;
}

.div_tarjetas {
  display: flex;
  flex-direction: column;
}

.lista_tarjetas {
  margin: 0;
}

.p_candado {
  font-family: "Kanit", sans-serif;
  padding-top: 15px;
  margin-left: 23%;
  color: var(--blanco);
}

.div_sociales {
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
}

.sociles {
  font-family: "Kanit", sans-serif;
  padding-top: 15px;
  margin-left: 23%;
  color: var(--blanco);
  text-align: center;
}

.lista_social {
  display: flex;
  flex-direction: row;
  padding-right: 3%;
}

.social {
  width: 40px;
  margin: 0 8px;
  list-style: none;
}

.candado {
  margin-right: 5px;
}

.copi {
  position: relative;
  top: -15px;
  font-family: "Kanit", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: var(--blanco);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------calendario-------------*/
.calendario {
  width: 400px;
  border: 1px solid var(--grisCalendario);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: var(--blanco);
  box-shadow: 0px 0px 6px 1px var(--negro);
}

.cabecera {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.mes_cabecera {
  font-size: 1.6em;
  font-family: var(--fontsecundaria);
}

.semanas {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  border-bottom: solid 1px var(--grisCalendario);
  margin-left: 20px;
  margin-right: 20px;
}

.nombre_semanas {
  font-size: 2em;
  font-family: var(--fontsecundaria);
  list-style: none;
  color: var(--grisOscuroCalendario);
}

.principal {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.dia,
.diacreado {
  text-align: center;
  list-style: none;
  font-size: 1.4em;
  font-family: var(--fontsecundaria);
  padding: 10px;
}

.circulo {
  background-color: var(--circuloCalendario);
  border-radius: 50%;
}
/*-----------------------------media querys----------------------*/

@media only screen and (max-width: 1280px) {
  :root {
    --tamañofuente: 4em;
  }
  .titulo_somos {
    position: relative;
    bottom: 25px;
  }
}
@media only screen and (max-width: 1080px) {
  /*  .div_btn_comprar {
    margin-top: 80px;
    margin-bottom: 80px;
  } */

  .expandido {
    height: 1275px;
  }
  .titulo_somos {
    position: relative;
    bottom: 25px;
  }
}
@media only screen and (max-width: 860px) {
  .Video_index {
    display: none;
  }
  .article_alquiler {
    grid-template-columns: 100%;
  }
  .imagen_alquiler {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    grid-row: 1;
    grid-column: 1;
  }

  .div_titulo_alquiler {
    grid-row: 2;
    grid-column: 1;
  }
  .titulo_alquiler {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px 50px 50px 50px;
  }
  .div_extension {
    padding: 0;
    grid-row: 3;
    grid-column: 1;
  }
  .btn_alquiler {
    margin-bottom: 55px;
  }
  .expandido {
    height: 2450px;
  }
  /*cambio el menu*/
  .visiblemenu {
    height: 386px;
    border-radius: 0 20px 20px 0;
    background-color: var(--blanco);
    position: fixed;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--negro);
    border-right: 1px solid var(--negro);
    align-items: center;
    z-index: 100;
    top: 0;
  }
  .menu {
    position: fixed;
    top: 0;
    height: 386px;
    border-radius: 0 20px 20px 0;
    background-color: var(--blanco);
    width: 60%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--negro);
    border-right: 1px solid var(--negro);
    align-items: center;
    z-index: 100;
    transform: translatex(-500px);
  }
  .menu_enlace {
    padding: 20px 0;
    text-decoration: none;
    color: var(--negro);
    font-size: 1.6em;
    width: 60%;
    text-align: center;
  }

  .menu_enlace:active {
    background-color: var(--grisCalendario);
  }
  .menu_enlace:last-child:active {
    border-radius: 0 0 19px 0;
  }
  .marcador {
    display: none;
  }
  .nohamburguesa {
    display: none;
  }
  .hamburguesa {
    border-radius: 10px;
    padding: 8px;
    background: rgba(242, 246, 245, 0.6);
    display: block;
    position: fixed;
    top: 0px;
    left: 500px;
    width: 50px;
  }
  .cerrarvisible {
    display: block;
    width: 48px;
    z-index: 999999;
  }
  .div_cerrar {
    position: fixed;
    left: 0px;
    top: 0px;
  }
  .comentario {
    width: 300px;
  }
}
@media only screen and (max-width: 525px) {
  .somos {
    height: auto;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 525px) {
  .titulo {
    font-size: 2.6em;
  }
  .titulo_somos {
    margin-bottom: 0;
  }
  .somos {
    padding-top: 10px;
  }
  .p_candado {
    font-size: 0.8em;
  }
  .sociales {
    font-size: 0.8em;
  }
  .tarjeta {
    width: 35px;
  }
  .social {
    width: 32px;
  }
  .copi {
    margin-top: 14px;
    font-size: 0.8em;
  }
  /*calendario*/
  .calendario {
    width: 300px;
  }
  .mes_cabecera {
    font-size: 1.4em;
  }
  .nombre_semanas {
    font-size: 1.2em;
  }
  .dia {
    font-size: 1em;
  }
}
/* @media only screen and (max-width: 525px) {

  
  
  .calendario {
    width: 300px;
  }
  .mes_cabecera {
    font-size: 1.2em;

}
 */
